<!DOCTYPE html>
<html>

<head>
    <title>Graphing Module | Storperf</title>
    <link rel="icon" href="/reporting/images/OPNVF_ProjectIcons_2400x2400_Storperf.png">
    <link rel="stylesheet" href="/reporting/3rd_party/css/bootstrap.min.css">
    <script src="/reporting/3rd_party/js/jquery-2.1.3.min.js"></script>
    <script src="/reporting/3rd_party/js/bootstrap.min.js"></script>
    <script src="/reporting/3rd_party/js/jquery.bootpag.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="content">
            {% include 'header.html' %}
            <div class="row center">
                <br>
                <form action="{{ url_for('url') }}" method="post">
                    <div class="form-group">
                        <label for="url">Enter URL:</label>
                        <br>
                        <input type="text" name="url" id="url" class="form-control">
                        <br>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>
</body>

</html>
