<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chart | Storperf</title>
    <link rel="stylesheet" href="/reporting/3rd_party/css/bootstrap.min.css">
    <script src="/reporting/3rd_party/js/jquery-2.1.3.min.js"></script>
    <script src="/reporting/3rd_party/js/bootstrap.min.js"></script>
    <script src="/reporting/3rd_party/js/jquery.bootpag.min.js"></script>
    <script src="/reporting/3rd_party/js/plotly-latest.min.js"></script>
    <script src="/reporting/3rd_party/js/Chart.min.js"></script>
    <style>
</style>
</head>

<body>
    <div class="container">
        {% include 'header.html' %}
        <div id="content"><strong>Loading...</strong>
        </div>
        <center>
            <div id="page-selection"></div>
        </center>
    </div>
    <script>
        page = [];
        metrics = {{ metrics | tojson | safe }};
        report_data = {{ report_data | tojson | safe }};
        results = {{ results | tojson | safe }};
        results = results[0];
        keys = [];
        for (var k in report_data){
            keys.push(k);
        }
        init();
        function init(){
            text = "<a href='/reporting/'><button type='button' class='btn btn-default btn-lg'>Go back</button></a><br><br>";
            text += "<div class='row well'>";
            text += "<h4> ID  : " + results["_id"] + "</h4>";
            text += "<h4> Start Date  : " + results["start_date"] + "</h4>";
            text += "<h4> Criteria  : " + results["criteria"] + "</h4>";
            text += "<h4> Build Tag  : " + results["build_tag"] + "</h4>";
            text += "<button type='button' class='btn btn-default btn-lg' onclick=add_info()> Click here to view details </button>";
            text += "</div>";
            text += "<div id='info'></div>";
            $("#content").html(text);
        }
        function add_info(){
            text = "<button type='button' class='btn btn-default btn-lg' onclick=init()>Go back</button><br><br>";
            text += "<div class='row well'>";
            text += "<h4> ID  : " + results["_id"] + "</h4>";
            text += "<h4> Start Date  : " + results["start_date"] + "</h4>";
            text += "<h4> Criteria  : " + results["criteria"] + "</h4>";
            text += "<h4> Build Tag  : " + results["build_tag"] + "</h4>";
            text += "<button type='button' class='btn btn-default btn-lg' onclick=create_block_report()> Steady State Convergence Report - All Block Sizes </button>";
            text += "<div class='row' id='block_report'></div>"
            text += "</div>";
            text += "<div id='info'></div>";
            for (var i = 0; i < keys.length; i++ ){
                text += "<div class='row' id='row-"+ keys[i] +"'>";
                text += "<h4 onclick=add_test('" + keys[i] + "')>" + keys[i] + "</h4>";
                text += "</div>";
            }
            $("#content").html(text);
        }

        function add_test(key){
            if(document.getElementById("test-" + key) == null){
                tests = [];
                for(var test in report_data[key]) tests.push(test);
                text = "<div class='col-md-12' id = 'test-" + key + "'><ul class='list-group'>";
                for(var i = 0; i < tests.length; i++ ){
                    text +=  "<li class='list-group-item' onclick=add_data('"+ key +"','" + tests[i] + "') id='li-" +
                             key + "-" + tests[i] + "'>" + tests[i] + "</li>"
                }
                text += "<li class='list-group-item' onclick=delete_test('" + key + "')> close </li>";
                text += "</ul></div>";
                var div = document.getElementById('row-' + key);
                div.innerHTML += text;
            }
        }
        function delete_test(key){
            document.getElementById("test-" + key).remove();
        }
        function add_data(key,test){
            text = "<ul id='list-" + key + "-" + test + "'>";
            if(document.getElementById('list-' + key + '-' + test ) == null){
                for( item in report_data[key][test] ){
                    var state = report_data[key][test][item]["steady_state"];
                    text += "<li onclick=create_modal('" + key + "','" + test + "','" + item + "') id='";
                    text += key + "-" + test + "-" + item + "'>" + item + " (steady state: " + state +")";
                    text += "<br><div id='modal-" + key + "-" + test + "-" + item + "'>";
                    text += '<div class="modal-content-'+ key + '-' + test + '-' + item +'">';
                    text += '<div id="modal-text-'+ key + '-' + test + '-' + item +'"></div>';
                    text += "</div></div></li>";
                    text += '<button class="btn btn-default" id="close-'+ key + '-' + test + '-' + item +'" style="display: none;" onclick=close_graph("'+ key + '","' + test + '","' + item + '")>Close</button><br>';
                }
                text += "</ul>"
                var div = document.getElementById("li-" + key + "-" + test);
                div.innerHTML += text;
            }
        }

        function close_graph(key,test,item){
            document.getElementById('close-'+key+'-'+test+'-'+item).style.display = "none";
            document.getElementById('modal-text-'+ key + '-' + test + '-' + item).innerHTML = "";

        }

        function create_modal(key,test,item){
            var  modal = document.getElementById('modal-'+key+'-'+test+'-'+item);
            var modal_div = document.getElementById('modal-text-'+ key + '-' + test + '-' + item);
            modal_div.innerHTML += "<div id='graph-"+key+"-"+test+"-"+item+"'></div><br><div id='report-"+key+"-"+test+"-"+item+"'></div>";
            var close_btn = document.getElementById('close-'+key+'-'+test+'-'+item);
            close_btn.style.display = "block";
            data = report_data[key][test][item];
            var x = [];
            var y = [];
            var name = "";
            var average = data["average"];
            if(test == "bw")
                name = "Bandwidth (KB/s)";
            else if(test == "iops")
                name = "IOPS";
            else
                name = "Latency (nanoseconds/ns)";
            var len = data["series"].length;
            for(var i = 0 ; i < len ; i++){
                x[i] = data["series"][i][0];
                y[i] = data["series"][i][1];
            }
            var trace1 = {
                x: x,
                y: y,
                name: name,
                type: 'scatter'
            };
            var layout = {
                xaxis: {
                    title: 'Round'
                },
                yaxis: {
                    title: name
                }
            };
            // Creating average plot in var trace2
            var average_y = [];
            for(var i = 0; i < len ;i++ ){
                average_y.push(average)
            }
            var trace2 = {
                x: x,
                y: average_y,
                name: 'Average',
                type: 'scatter'
            };
            // Creating average plot in var trace3
            var average_plus_y = [];
            for(var i = 0; i < len ;i++ ){
                average_plus_y.push(1.1*average)
            }
            var trace3 = {
                x: x,
                y: average_plus_y,
                name: '110%*Average',
                type: 'scatter'
            };
            // Creating average plot in var trace4
            var average_minus_y = [];
            for(var i = 0; i < len ;i++ ){
                average_minus_y.push(0.9*average)
            }
            var trace4 = {
                x: x,
                y: average_minus_y,
                name: '90%*Average',
                type: 'scatter'
            };
            // Creating slope plot in var trace5
            var slope_y = [];
            var slope_mid = parseInt(len/2);
            // Init slope_y with average
            for(var i = 0; i < len; i++){
                slope_y.push(average);
            }
            // Creating the slope plot
            var i = slope_mid - 1;
            var count = data["slope"];
            while(i >= 0){
                slope_y[i] -= count;
                count += data["slope"];
                i--;
            }
            var i = slope_mid + 1;
            var count = data["slope"];
            while(i < len){
                slope_y[i] += count;
                count += data["slope"];
                i++;
            }
            var trace5 = {
                x: x,
                y: slope_y,
                name: 'Slope',
                type: 'scatter'
            };
            var plot_data = [trace1,trace2,trace3,trace4,trace5];
            Plotly.newPlot('graph-'+key+'-'+test+'-'+item,plot_data,layout);
            modal.style.display = "block";
            table = "<table class='table table-bordered'>";
            table += "<thead><tr>Steady State Determination Data</tr></thead>";
            table += "<tbody>";
            table += "<tr><td>Steady State: "+ data["steady_state"] +"</td><td> Average " + name + ": " + average + "</td></tr>";
            table += "<tr><td> Allowed Maximum Data Excursion: " + 0.2*average +
                     "</td><td> Measured Maximum Data Excursion: " + data["range"] + "</td></tr>";
            table += "<tr><td> Allowed Maximum Slope Excursion: " + 0.1*average +
                     "</td><td> Measured Maximum Slope Excursion: " + data["slope"] + "</td></tr>";
            table += "</tbody></table>";
            document.getElementById("report-" + key + "-" + test + "-" + item).innerHTML = table;
        }

        function create_block_report(){
            var ele = document.getElementById("block_report");
            var text = "";
            text += "<ul class='list-group' style='margin: auto;'>"
            text += "<li class='list-group-item'><h5>Read</h5></li>";
            text += "<li class='list-group-item' style='text-indent:20px;' ";
            text += "onclick=create_block_graph('read','bw')>Bandwidth (KB/s)";
            text += "<div id='modal-block-report-read-bw'>";
            text += '<div class="modal-content-block-report-read-bw">';
            text += '<div id="modal-text-block-report-read-bw"></div>';
            text += "</div></div></li>";
            text += '<div class="list-group-item" id="close-block-report-read-bw" style="display: none;" onclick=close_block_graph("read","bw")>Close Graph</div>';
            text += "<li class='list-group-item' style='text-indent:20px;' onclick=create_block_graph('read','iops')>IOPS";
            text += "<div id='modal-block-report-read-iops'>";
            text += '<div class="modal-content-block-report-read-iops">';
            text += '<div id="modal-text-block-report-read-iops"></div>';
            text += "</div></div></li>";
            text += '<div class="list-group-item" id="close-block-report-read-bw" style="display: none;" onclick=close_block_graph("read","iops")>Close Graph</div>';
            text += "<li class='list-group-item' style='text-indent:20px;' onclick=create_block_graph('read','lat_ns.mean')>Latency (nanoseconds/ns)";
            text += "<div id='modal-block-report-read-lat_ns.mean'>";
            text += '<div class="modal-content-block-report-read-lat_ns.mean">';
            text += '<div id="modal-text-block-report-read-lat_ns.mean"></div>';
            text += "</div></div></li>";
            text += '<div class="list-group-item" id="close-block-report-read-lat_ns.mean" style="display: none;" onclick=close_block_graph("read","lat_ns.mean")>Close Graph</div>';
            text += "<li class='list-group-item'><h5>Write</h5></li>";
            text += "<li class='list-group-item' style='text-indent:20px;' onclick=create_block_graph('write','bw')>Bandwidth (KB/s)";
            text += "<div id='modal-block-report-write-bw'>";
            text += '<div class="modal-content-block-report-write-bw">';
            text += '<div id="modal-text-block-report-write-bw"></div>';
            text += "</div></div></li>";
            text += '<div class="list-group-item" id="close-block-report-write-bw" style="display: none;" onclick=close_block_graph("write,"bw")>Close Graph</div>';
            text += "<li class='list-group-item' style='text-indent:20px;' onclick=create_block_graph('write','iops')>IOPS";
            text += "<div id='modal-block-report-write-tops'>";
            text += '<div class="modal-content-block-report-write-iops">';
            text += '<div id="modal-text-block-report-write-iops"></div>';
            text += "</div></div></li>";
            text += '<div class="list-group-item" id="close-block-report-write-iops" style="display: none;" onclick=close_block_graph("write","iops")>Close Graph</div>';
            text += "<li class='list-group-item' style='text-indent:20px;' onclick=create_block_graph('write','lat_ns.mean')>Latency (nanoseconds/ns)";
            text += "<div id='modal-block-report-write-lat_ns.mean'>";
            text += '<div class="modal-content-block-report-write-lat_ns.mean">';
            text += '<div id="modal-text-block-report-write-lat_ns.mean"></div>';
            text += "</div></div></li>";
            text += '<div class="list-group-item" id="close-block-report-write-lat_ns.mean" style="display: none;" onclick=close_block_graph("write","lat_ns.mean")>Close Graph</div>';
            text += "<li class='list-group-item' onclick=close_block_report()><h5>Close</h5></li>";
            text += "</ul>";
            ele.innerHTML = text;
        }
        function close_block_report(){
            document.getElementById("block_report").innerHTML = "";
        }
        function close_block_graph(key,test){
            document.getElementById('close-block-report-'+key+'-'+test).style.display = "none";
            document.getElementById('modal-text-block-report-'+ key + '-' + test).innerHTML = "";

        }
        function create_block_graph(key,test){
            data = {};
            for(i in report_data){
                if(report_data[i][test] == undefined && test == 'lat_ns.mean')
                    test = 'lat.mean';
                data[i] = report_data[i][test][key];
            }
            document.getElementById('close-block-report-'+key+'-'+test).style.display = 'block';
            var  modal = document.getElementById('modal-block-report-'+key+'-'+test);
            var modal_div = document.getElementById('modal-text-block-report-'+key+'-'+test);
            modal_div.innerHTML += "<div id='graph-"+key+ "-"+ test+ "'></div><br><div id='report-"+key+ "-"+ test+ "'></div>";
            var name = "";
            var average = data["average"];
            if(test == "bw")
                name = "Bandwidth (KB/s)";
            else if(test == "iops")
                name = "IOPS";
            else
                name = "Latency (nanoseconds/ns)";
            var plot_data = [];
            for(i in data){
                var x = [];
                var y = [];
                var len = data[i]["series"].length;
                for(var j = 0 ; j < len ; j++){
                    x[j] = data[i]["series"][j][0];
                    y[j] = data[i]["series"][j][1];
                }
                var trace = {
                    x: x,
                    y: y,
                    type: 'scatter',
                    name: i
                };
                plot_data.push(trace);
            }
            var layout = {
                autosize: true,
                xaxis: {
                    title: 'Round'
                },
                yaxis: {
                    title: name
                },
            };
            Plotly.newPlot('graph-'+key+'-'+test,plot_data,layout);
            modal.style.display = "block";
        }

        </script>
</body>

</html>
