##############################################################################
# Copyright (c) 2017 Dell EMC and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

version: '2'
services:

    storperf-master:
        container_name: "storperf-master"
        build:
            context: storperf-master
            args:
                ARCH: ${ARCH}
        env_file: ${ENV_FILE}
        volumes:
            - ./storperf-master/:/storperf
        links:
            - storperf-graphite

    storperf-reporting:
        container_name: "storperf-reporting"
        build:
            context: storperf-reporting
            args:
                ARCH: ${ARCH}
        volumes:
            - ./storperf-reporting/:/home/opnfv/storperf-reporting

    storperf-swaggerui:
        container_name: "storperf-swaggerui"
        build:
            context: storperf-swaggerui
            args:
                ARCH: ${ARCH}

    storperf-graphite:
        container_name: "storperf-graphite"
        build: storperf-graphite
        volumes:
            - ${CARBON_DIR}:/opt/graphite/storage/whisper

    storperf-httpfrontend:
        container_name: "storperf-httpfrontend"
        build:
            context: storperf-httpfrontend
            args:
                ARCH: ${ARCH}
        ports:
            - "5000:5000"
        links:
            - storperf-master
            - storperf-reporting
            - storperf-swaggerui
            - storperf-graphite
