##############################################################################
# Copyright (c) 2017 Dell EMC and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

version: '2'
services:
    storperf-master:
        container_name: "storperf-master"
        image: "opnfv/storperf-master:${TAG}"
        links:
            - storperf-graphite

    storperf-reporting:
        container_name: "storperf-reporting"
        image: "opnfv/storperf-reporting:${TAG}"

    storperf-swaggerui:
        container_name: "storperf-swaggerui"
        image: "opnfv/storperf-swaggerui:${TAG}"

    storperf-graphite:
        container_name: "storperf-graphite"
        image: "opnfv/storperf-graphite:${TAG}"
        volumes:
            - ${CARBON_DIR}:/opt/graphite/storage/whisper

    storperf-httpfrontend:
        container_name: "storperf-httpfrontend"
        image: "opnfv/storperf-httpfrontend:${TAG}"
        ports:
            - "5000:5000"
        links:
            - storperf-master
            - storperf-reporting
            - storperf-swaggerui
            - storperf-graphite
